.page-activity {
  padding: 16px;
}
.card {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Styles could be consolidated as a general style and then seaprate changes.But i like that each page's style is there to be changed according to that specific page's needs */